<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your account has been removed from RottenMangoes.com</h1>
    <p>
      Please feel free to get in touch if you want to come back to the RottenMangoes crew.<br>
    </p>
  </body>
</html>
